.card-wrapper {
  width: calc(100% - 5.3rem);
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
  background-color: #202020;
}

.gutter {
  height: 100% !important;
  width: 10px !important;
  cursor: col-resize;
  background-color: #3f3f3f;
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 14px;
  }
  .card-wrapper {
    width: calc(100% - 5.3rem);
    height: 100%;
    flex-direction: column !important;
  }
  .gutter {
    height: 10px !important;
    width: 100% !important;
    cursor: row-resize;
  }
}
