.card-wrapper {
  width: calc(100% - 5.3rem);
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
}

.gutter {
  height: 100% !important;
  width: 10px !important;
  cursor: col-resize;
  background-color: rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .card-wrapper {
    width: calc(100% - 5.3rem);
    height: 100%;
    flex-direction: column !important;
  }
  .gutter {
    height: 10px !important;
    width: 100% !important;
    cursor: row-resize;
  }
}