.mi-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  display: inline-block;
  color: #202020;
  background-color: #ffdf6c;
  border: 1rem;
  transition: filter 210ms ease;
  margin: 0 0.9rem;
  padding: 0.6rem 0.6rem;
}

.exit-button {
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  border-radius: 3rem;
  padding: 0.3rem 0.3rem;
  display: flex;
  position: relative;
  margin: 0 0 !important;
  color: #202020;
  background-color: #ffffff;
}

.plus-btn {
  background-color: transparent;
  color: #707070;
  font-size: 2.6rem;
}

.minus-btn {
  background-color: transparent;
  color: #ffdf6c;
  font-size: 2.6rem;
}

.mi-btn:hover {
  filter: brightness(1.1);
}

.mi-btn:focus {
  outline: none;
  filter: brightness(0.9);
}

.resume-btn {
  margin: 2.0rem 0;
}

.pressed-btn {
  background-color: #202020 !important;
  color: #ffffff !important;
}