.tex-editor, .first-flex {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100px;
  overflow: hidden;
  min-width: 200px;
}

.tex-editor, .first-flex {
  width: 100%;
}
.tex-editor {
  background-color: white;
}

.editor {
  position: absolute;
  top: 0.5rem;
  right: 0;
  bottom: -0.5rem;
  left: 0;
}

@media screen and (max-width: 600px) {
  .tex-editor, .first-flex {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 200px !important;
  }
}

@media screen and (min-width: 600px) {
  .tex-editor, .first-flex {
    height: 100% !important;
    min-width: 200px !important;
  }
}