.work-sheet {
    padding-top: 3vh;
    height: calc(90vh - 3.80rem);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
}

.starter-work-sheet {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
}

.container-second {
    padding: 4.5vh 3vh;
}

.container-second h2 {
    font-family: grapenuts;
    letter-spacing: .2rem;
    color: #ffffff;
}


@media screen and (max-width: 1120px) {
    .work-sheet {
        padding-top: 3vh !important;
        height: calc(90vh - 3.80rem);
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
    } 
    
    .starter-work-sheet {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
        min-width: 200px;
    }
}

