h4 {
    margin-bottom: 0 !important;
}

.child-starter-img {
    display: block;
    max-width: 380px;
    width: auto !important;
    object-fit: scale-down;
}

.starter-button {
    min-width: 80%;
    margin: 0 0 !important;
}

.starter-button > .logo-title{
    font-size: 1.3rem !important;
    line-height: 24px;
}

.starter-next > .logo-title{
    font-size: 1.0rem !important;
    line-height: 20px;
}

.starter-next {
    min-width: 100px !important;
}


@media screen and (max-width: 1120px) {
    .child-starter-img {
        max-width: 200px !important;
    }
    h4 {
        font-size: calc(0.6rem + .15vw);
    }
}
@media screen and (max-width: 600px) {
    .starter-button {
        min-width: 200px;
    }
}
