h4 {
  margin-bottom: 0 !important;
}

.child-starter-img {
  display: block;
  width: 100%;
  max-width: 550px;
  object-fit: scale-down;
}

.starter-button {
  min-width: 100%;
  margin: 0 0 !important;
}

.starter-button > .logo-title {
  font-size: 1.3rem !important;
  line-height: 24px;
}

.logo-title {
  font-size: 1.3rem !important;
  line-height: 24px;
}

.starter-next {
  min-width: 80% !important;
  margin: 0 0 !important;
}

@media screen and (max-width: 1120px) {
  .child-starter-img {
    width: 300px !important;
  }
  h4 {
    font-size: calc(0.6rem + 0.15vw);
  }
}
@media screen and (max-width: 600px) {
  .child-starter-img,
  .starter-next,
  .starter-button {
    min-width: 300px;
  }
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
